.text-decorator-none {
  text-decoration: none;
}

.text-bold {
  font-weight: bold;
}

.img {
  background-image: url(../../../public/login.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.form {
  padding: 0 20%;
}

.text-center {
  text-align: center;
}