.img2 {
  background-image: url(../../../public/login.jpg);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.text-bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center;
}

.btn-cancelar {
  margin-right: 20px !important;
  text-decoration: none;
}